/* Helpers */

.center{
    margin: 0 auto;
}
.inline{
		display:inline;

}
.bold{
	    font-weight: 600;
}
.textcenter{
    text-align: center;
}
.left {
    padding-left: 0px;
}
.textuppercase{
	text-transform:uppercase;
}

.view-mobile {
  display: block;
}
.view-desktop {
  display: none;
}
.input-group {
    margin-bottom: 15px;
}
.btn-lab{
	color:black;
    display: block;
    font-weight: 900;
	background-color:White;
}


.btn-warning {
  display:block;
  margin-bottom: 12px;
}
/* Clases Especificas */
body{
font-family: 'Raleway', sans-serif;
    
}
section{
    background-color: #f7b617;
    color: white;
}
form {
    margin: 0px 10px 20px;
}

/* header */
.navbar{
	    margin-bottom: 0px; 
}
/* section 1 */

.box_one{
    background-image: url(../assets/images/taxi.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
	height: 540px;    
}

.box_app{
    background-color: #f7b617;
    transform: translateY(62%);
    float: right;
	
}
.box_app h1 {
	line-height: 28px;
}

.box_app_mobile{
	    padding: 28px 105px 40px 42px;
}
.logoblanco {
     height: 16px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.text-download {
    font-size: 18px;
}

.btn_app {
    margin-top: 2.7em;
}
/* ---------------
	Section2
	------------ */
	.iphone {
	margin: 40px 0px 30px 0px;
    border: 1px solid white;
	padding: 40px;
}
.cel {
    width: 71%;
    transform: translateX(20%);
}
.text-iphone{
	font-size:18px;
}
.modal-gris{
    background-color: #a9a9a9;
}
.btn-black {
    background-color: black;
    color: white;
	margin-bottom: 10px;
}
.btn-black:hover{
	color:white;
}

/* Form */
.inputname {
    padding-right: 2px;
}
.inputlastname {
    padding-left: 2px;
}
/* ---------------
	Section3
	------------ */
	.box_conductor{
    height: 430px;
    background-image: url(../assets/images/conduce.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
	  filter:brightness(0.5);

}
.conduce {
    margin: 90px 0px 0px 20px;
}

	/* ---------------
	Section4
	------------ */
	
	.tarifas-Labcar {
    padding: 50px 0px;
}
.consultas {
    margin-bottom: 20px;
	
}
.consultas-text, .consultas-img{
    display: inline;
}

.consultas-text{
    margin-left: 10px;
    font-size: 11px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
.container-mapa {
	    padding: 10px;
    border: 1px solid white;
margin-bottom:60px;
	
}

  /* Footer */
footer {
	background-color:#2b2b2b;
	padding-top: 47px;
	padding-bottom: 47px;
	color: white; 
}

footer figure {
    margin-bottom: 20px;
}
footer ul{
    list-style: none;
    padding: 0;
    margin:0;
    line-height: 40px;
    overflow: auto;
  }
  
.icons  li {
    display: inline-block;
    margin: 5px;

}	
/* View Desktop */
/* ***** Section1**** */

.box_app_desktop {
    width: 400px;
    padding: 0px 25px 30px 25px;
}
	
/* Section2**** */

.box_iphone{
	margin: 40px 0px 30px 0px;
    border: 1px solid white;
	padding: 40px;
	height: 380px;
}

/* Section 3 */

.boxc_desktop {
    float: right;
    width: 250px;
}
/*
@media (min-width: 768px) {


 @media (min-width: @screen-md-min) {


Modales */
/* Modal Login */
.form-login {
    width: 300px;
	background-color:#f5f5f5;
	padding: 20px 10px 10px;
	border-radius: 5px;
}

.modal-turquoise{
	background-color:#08ac9d;
}
.img-user {
    width: 140px;
}
.red{
	color:#b73d43;
}
/* Modal Registro */

.registro input.form-control {
    margin: 10px 0px 0px;
}
.text-marca{
    font-size: 13px;
    margin-bottom: 2px;
}
/* ******* */

.modal-header {
    border-bottom: 0px;
	padding-bottom: 0px;
}
.modal-body {
    padding: 0px 15px 15px;
}
.close {
	font-size: 30px;
}
.btn-block{
	    margin: 10px 0px;
}
@media (min-width: 768px) {
	.modal-sm {
    width: 480px;
}
.modal-lg{
    width: 480px;
}
  .view-mobile {
    display: none;
  }
  
  .view-desktop {
    display: block;
  }
}



