/* Helpers */

.center{
    margin: 0 auto;
}
.inline{
		display:inline;

}
.bold{
	    font-weight: 600;
}
.textcenter{
    text-align: center;
}

.btn-lab{
	color:black;
    display: block;
    margin-top: 2.7em;
    font-weight: 900;
	background-color:White;
}
/* Clases Especificas */
body{
	color:white;
font-family: 'Raleway', sans-serif;
    
}
section{
    background-color: #f7b617;
    
}
/* header */
.navbar{
	    margin-bottom: 0px; 
}
/* section 1 */

.box_one{
    background-image: url(../assets/images/taxi.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
	height: 540px;    
}

.box_app{
    background-color: #f7b617;
    padding: 28px 105px 40px 42px;
    transform: translateY(62%);
    float: right;
	
}
.box_app h1 {
	line-height: 28px;
}


.logoblanco {
     height: 16px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.text-download {
    font-size: 18px;
}
/* ---------------
	Section2
	------------ */
	.iphone {
    margin: 40px 0px;
	margin: 40px 0px 30px 0px;
    border: 1px solid white;
	padding: 40px;
}
.cel {
    width: 71%;
    transform: translateX(20%);
}
.text-iphone{
	font-size:18px;
}
/* ---------------
	Section3
	------------ */
	.box_conductor{
    height: 430px;
    background-image: url(../assets/images/conduce.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
	  filter:brightness(0.5);

}
.conduce {
    margin: 90px 0px 0px 20px;
}
	/* ---------------
	Section4
	------------ */
	
	.tarifas-Labcar {
    padding: 50px 0px;
}
.consultas {
    margin-bottom: 20px;
	
}
.consultas-text, .consultas-img{
    display: inline;
}

.consultas-text{
    margin-left: 10px;
    font-size: 11px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
.container-mapa {
	    padding: 10px;
    border: 1px solid white;
margin-bottom:60px;
	
}

  /* Footer */
footer {
	background-color:#2b2b2b;
	padding-top: 47px;
	padding-bottom: 47px;
}

footer figure {
    margin-bottom: 20px;
}
footer ul{
    list-style: none;
    padding: 0;
    margin:0;
    line-height: 40px;
    overflow: auto;
  }
  
.icons  li {
    display: inline-block;
    margin: 5px;
}


